div{
  display: flex;
  justify-content: center;
  position: relative;

  .form-area{
    width: 40%;
    border-radius: 1rem;
    padding: 3rem;
    margin-top: 3rem;
    background-color: var(--blue-dark-color);
    color: var(--cream-color);

    .password{
      position: relative;

      .eye{
        font-size: 1.5rem;
        position: absolute;
        width: auto;
        bottom: 0.1rem;
        right: 0.5rem;
        color: var(--blue-dark-color)
      }

      .eye:hover{
        color: var(--blue-real-color)
      }
    }

    input{
      padding: 1rem;
      background-color: var(--cream-color) !important;
      margin-top: 0.5rem;
      height: 2.5rem;
      border-radius: 1rem;
      border: 1px solid var(--blue-real-color);
      outline: none;
    }

  }

  .btn-area{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    .btn-link{
      color: var(--cream-color);
    }

    .btn-link:hover{
      color: #d8d8cb;
    }

    .btn-login{
      padding: 0.5rem;
      background-color: var(--blue-dark-color);
      border: 2px solid var(--cream-color);
      outline: none;
      border-radius: 1rem;
      color: var(--cream-color);
    }

    .btn-login:hover{
      background-color: #1456a1;
    }

    .btn-criar-conta{
      padding: 0.5rem;
      background-color: var(--cream-color);
      border: 2px solid var(--blue-dark-color);
      outline: none;
      border-radius: 1rem;
      color: var(--blue-dark-color);
    }

    .btn-criar-conta:hover{
      color: #1456a1;
      background-color: #d8d8cb;
    }

  }


}

.btn-voltar{
  position: absolute;
  padding: 0.25rem;
  background-color: var(--blue-real-color);
  color: var(--yellow);
  border-radius: 0.5rem;
  text-decoration: none;
  margin-left: 1rem;
  top: 3rem;
}

.error{
  text-align: center;
  color: red;
}
