<header class="content">
  <div class="logo">
    <h3>Serpa<span>books</span></h3>
  </div>
  <div class="input-area">
    <input type="text" placeholder="Pesquise aqui" [(ngModel)]="textoChave" (keyup.enter)="search()">
    <i class="bi bi-search" (click)="search()"></i>
  </div>
  <div class="login-area">
    <div *ngIf="!logado">
      <img src="../../../../assets/imgs/user-icon-2.png" alt="">
      <p [ngbTooltip]="tooltipContent" [closeDelay]="100000">{{nomeUsuario}}</p>
    </div>
    <div *ngIf="logado">
      <img src="../../../../assets/imgs/user-icon-2.png" alt="">
      <a routerLink="/login">Fazer login</a>
    </div>

  </div>
</header>

<ng-template #tooltipContent style="background-color: transparent;">
  <button (click)="logout()" class="btn-logout"><i class="bi bi-box-arrow-in-right"></i>Sair</button>
</ng-template>
