<section *ngIf="gridList.length > 0">
  <div
    *ngFor="let livro of gridList; let i = index"
    class="card"
    (click)="openDetails(livro.idInfoLivro)"
  >
    <div class="image">
      <img [src]="livro.urlImagem" alt="" />
    </div>
    <div class="conteudo">
      <div class="info">
        <div class="row">
          <h4>{{ livro.tituloLivro }}</h4>
        </div>
        <div class="row">
          <span class="col-6"
            ><b>{{ livro.dataPublicacao | date : "dd/MM/yyyy" }}</b></span
          >
          <span class="col-6">{{ livro.descricaoCapa }}</span>
        </div>
        <div class="row">
          <span class="col-6"
            ><b>{{ livro.nomeAutor }}</b></span
          >
          <span class="col-6">{{ livro.nomeEditora }}</span>
        </div>
        <div class="row">
          <p *ngIf="livro.resumo != null">
            {{ livro.resumo }}
          </p>
          <p *ngIf="livro.sinopse != null && livro.resumo == null">
            {{ livro.sinopse }}
          </p>
        </div>
      </div>
      <div class="nota">
        <span>
          <ng-template #t let-fill="fill">
            <i class="bi-star-fill">
              @if (fill > 0) {
              <i class="bi-star-fill filled" [style.width.%]="fill"></i>
              }
            </i>
          </ng-template>

          <ngb-rating
            [rate]="setValue(livro.notaLivro)"
            [starTemplate]="t"
            [readonly]="true"
            [max]="1"
            [ariaValueText]="ariaValueText"
          />
        </span>
        <p>
          <b>{{ livro.notaLivro }}/5.0</b>
        </p>
      </div>
    </div>
  </div>
</section>
<section *ngIf="gridList.length < 1">
  <div class="no-result">
    <h3>Não foram encontrados livros com essas informações</h3>
  </div>
</section>
